<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <h1>Plastic Waste Manager</h1>

    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('add') }}">Add</a>
        <a href="{{ url_for('inventory') }}">Inventory</a>
        <a href="{{ url_for('stats') }}">Statistics</a>

    </nav>

    <hr>

    {% block content %}{% endblock %}
    
</body>
</html>